html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-y: hidden;
	
}
p{
font-size:20pt;
font-family: Verdana, Geneva, sans-serif;
}
li{
font-size:20pt;
font-family: Verdana, Geneva, sans-serif;
}
.carousel {
	
	height:100%;
	width: 50%;
	display: inline-block;
	float: right;
}

.content {
	position: relative;
	display: block;
	height: 100%;
	padding-top: 51px;
	min-width: 576px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
	background-color:black;
}

.section {
	height:100%;
	width:50%;
}

.info-container {
	background:black;
	color: rgba(255,255,255,.5);
	height: 100%;
	width: 50%;
	position: relative;
	display: inline-block;
}

.info-container:after {
content:".";
text-indent: -999em;
display: inline-block;
vertical-align:middle;
height: 100%;
width: 1px;
background-color: rgba(255, 255, 255, 0.7);
float: right;
box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
}

.info-block {
	display: block;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	
	padding: 12px 32px;
}

footer {
	margin: 50px 0;
}